<div id="add-comment" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add new comment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" placeholder="Comment title" id="title">
                    <label for="comment">Comment</label>
                    <textarea id="comment" cols="30" rows="8" class="form-control"></textarea>
                    <label for="author">Author</label>
                    <input type="text" class="form-control" placeholder="Author name" id="author">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-new-comment">
                    Save
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>