<div id="product-detail-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Comments for {{productName}}</h4>
      </div>
      <div class="modal-body" id="comments">
        {{#renderComments comments.data}}
        <h4>{{title}}</h4>
        <p>{{comment}}</p>
        <p><strong>{{name}}</strong></p>
        {{/renderComments}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary more-comments">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Comments 
          </button>
        <button type="button" class="btn btn-success" id="new-comment">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New 
          </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>