<div class="panel panel-default">
    <div class="panel-heading">
        {{name}}
    </div>
    <div class="panel-body">
        <div id="description">
            {{{description}}}
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default">
            <a href="/?categoryId={{categoryId}}" class="more-products-from-category">See more of {{categoryName}}</a>
        </button>
        <button type="button" class="btn btn-primary" data-id="{{id}}" data-name="{{name}}" id="product-comments">
            Comments
        </button>
    </div>
</div>