<div class="panel panel-default">
    <div id="categories-dropdown"></div>
    <div class="panel-body">
        {{#renderProducts data}}
        <a href="/details?productId={{id}}">{{name}}</a> {{/renderProducts}}
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success" id="more-products">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>More
        </button>
    </div>
</div>